@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800&display=swap");
html {
  height: 100%;
}
body {
  position: relative;
  background-image: linear-gradient(
    180deg,
    #222222 0%,
    #1f1f1f 11.64%,
    #171717 25.66%,
    #161616 32.94%,
    #151515 35.98%,
    #131313 44.89%,
    #121212 55.22%,
    #121212 75.34%,
    #121212 85.45%,
    rgba(18, 18, 18, 1) 100%
  );
  font-family: "Work Sans", sans-serif;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#artist-topRec {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgb(255 209 245) 0%,
    rgb(181 97 162) 20%,
    rgb(18 18 18) 50%
  );
}

#artist-midScreen {
  min-width: 256px;
}

.sidebar-placeholder {
  min-width: 270px;
}
.scroll {
  height: 165vh;
}
.container {
  /* max-width: 1500px; */
  overflow: scroll;
}

#profile-top-navbar {
  z-index: 1;
  margin-left: 256px;
}

/* .nav-bar {
  background-color: rgb(255, 255, 255);
  height: 100vh;
  width: 301px;
} */

h2 {
  color: white;
  margin-block: 35px 25px;
}

#profile-avatar {
  color: white;
  background-color: #0a0a0a;
  width: 150px;
  height: 50px;
  padding: 5px;
  display: flex;
  font-size: 1.4em;
  border-radius: 50px;
  justify-content: space-between;
  padding-inline-end: 10px;
}

.avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 3px;
}

.back-icon,
.forward-icon {
  background-color: black;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.back-forward-icon {
  width: 90px;
  justify-content: space-between;
}

.top-card-title {
  color: white;
}
.top-cards {
  background-color: #303030;
  align-items: center;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  height: 80px;
}

.top-card-image-icon {
  background-image: linear-gradient(
    135deg,
    #4000f4 0%,
    #603aed 22.48%,
    #7c6ee6 46.93%,
    #979fe1 65.71%,
    #a2b3de 77.68%,
    #adc8dc 88.93%,
    #c0ecd7 100%
  );

  height: 100%;
  width: 100px;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
}
.top-card-image-icon img {
  width: 30px;
}
.top-card-title h5 {
  margin-inline-start: 10px;
  margin-bottom: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 150px;
}
.top-card-title {
  position: absolute;
  left: 100px;
}
.row {
  row-gap: 2vh;
}

.card {
  padding: 13px;
  background-color: #232222;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: 1s;
}

.card img:nth-child(2) {
  border-radius: 8px;
  box-shadow: 0px 0px 10px -3px black;
}
.play-on-hover {
  position: absolute;
  bottom: 35%;
  right: 10px;
  opacity: 0;
  transition: 0.5s;
}
.play-on-hover2 {
  position: absolute;
  bottom: 25%;
  right: 10px;
  opacity: 0;
  transition: 0.5s;
}

#artist-round img:nth-child(2) {
  border-radius: 50%;
  box-shadow: 0px 0px 10px -3px black;
}
.card:hover {
  background-color: #3d3d3d;
  transition: 1s;
}
.card:hover img {
  box-shadow: 0px 0px 0px 0px black;
}
.card:hover .play-on-hover {
  bottom: 40%;
  opacity: 1;
  transition: 0.5s;
}
.card:hover .play-on-hover2 {
  bottom: 32%;
  opacity: 1;
  transition: 0.5s;
}
.card-title {
  color: white;
  margin: 0;
  font-size: 1.1em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.card-text {
  color: #b3b3b3;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0.9em;
  margin-block: 5px;
}

.bottom-container {
  display: flex;
  background-color: #282828;
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding-inline: 30px;
  color: white;
  justify-content: space-between;
  z-index: 1;
}

.playing {
  align-items: center;
}
.playing-title {
  margin-inline: 20px;
}

.player,
.player-bar {
  align-items: center;
}

.player-bar {
  width: 600px;
  justify-content: space-evenly;
}

.progress {
  width: 500px;
  height: 5px;
  background-color: #535353;
}
.progress-bar {
  background-color: #ffffff;
}
.player-icons {
  width: 250px;
  justify-content: space-evenly;
}

#NavBar {
  width: 256px;
  height: 100vh;
  left: 0px;
  top: 0px;
  background-color: #000000;
  flex-shrink: 0;
  z-index: 0;
}

.bg-test {
  color: white;
  width: 100%;
}

.navbar-icon-square {
  height: 24px;
  width: 24px;
  background-color: #b2b2b2;
}

#navbar-liked-songs {
  background: linear-gradient(
    135deg,
    #4000f4 0%,
    #603aed 22.48%,
    #7c6ee6 46.93%,
    #979fe1 65.71%,
    #a2b3de 77.68%,
    #adc8dc 88.93%,
    #c0ecd7 100%
  );
  border-radius: 1px;
}

.navbar-selected {
  height: 50px;
  border-radius: 6px;
}

.navbar-selected:hover {
  cursor: pointer;
  background-color: #282828;
  height: 50px;
  border-radius: 6px;
}

#artist-page {
  color: white;
  flex-grow: 1;
  height: 100vh;
  background-color: gray;
  margin-inline-start: 256px;
}

#artist-img {
  height: 35%;
  min-height: 300px;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
}

#side-bar-place-holder {
  min-width: 270px;
  height: 100vh;
  background-color: #000000;
}

#artist-songs {
  width: 100%;
  height: 55%;
  /* overflow: auto; */
  background: linear-gradient(
    180deg,
    rgb(137 137 137) 0%,
    rgb(47 47 47) 25%,
    rgb(34 34 34) 55%
  );
}

#play-button-row {
  /* background-color: white; */
  height: 100px;
  width: 100%;
  background-image: linear-gradient(180deg, #7f7f7e, transparent);
}
#play-button-row2 {
  /* background-color: white; */
  height: 100px;
  width: 100%;
}

.list-contents {
  overflow: auto;
}

.song-img {
  width: 30px;
  height: 30px;
  background-color: #fff;
}

#artist-pick-img {
  height: 70px;
  width: 70px;
  background-color: #fff;
}

li {
  list-style: none;
}

#album-scroll-container {
  height: 45vh;
  /* overflow: auto; */
}

#album-container {
  background-image: linear-gradient(180deg, #ffffff03, #e91e6354);
  padding-block-end: 40px;
}

#album-to-line {
  border-bottom: solid 1px gray;
  width: 200px;
}

.album-favorites {
  font-size: 0.9em;
  overflow: auto;
  height: 40vh;
  line-height: 30px;
}
.install-container {
  margin-block-start: 20px;
}

.install {
  height: 15px;
  margin-block-start: 15px;
}

.artist-page-fitting-img {
  width: 30px;
  height: 30px;
}

.artist-page-ellipsed-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.display-hidden {
  display: none;
}

#popular-section {
  /* overflow: auto; */
  height: 400px;
  font-size: 0.9em;
}

#trackList {
  overflow: auto;
  height: 36vh;
}

.volume {
  width: 167px;
  justify-content: space-evenly;
}

/*-----------------------Login Styling-----------*/

#login-container {
  background-color: white;
  height: 100vh;
}
.spotify-banner {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.spotify-banner img {
  height: 9vh;
  filter: brightness(0);
}

.login-container {
  height: 80vh;
  max-width: 450px;
  margin-inline: auto;
  justify-content: space-evenly;
  margin-block-start: 40px;
}

.continue-btn {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 80px;
  color: white;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-facebook {
  background-color: #3e5a9a;
  transition: all 0.2s ease-in-out;
}

.btn-apple {
  background-color: black;
  transition: all 0.2s ease-in-out;
}

.btn-facebook:hover,
.btn-apple:hover {
  transform: scale(1.01);
}

.br1 {
  width: 181px;
  height: 1px;
  background-color: lightgray;
}

.user-input {
  width: 450px;
  height: 52px;
  border: 1px solid #8e8a8a;
  border-radius: 5px;
  padding-inline-start: 19px;
  background-color: #94b3ff24;
  color: black;
  outline-color: black;
}

.user-input::placeholder {
  color: lightgray;
}

.login-area {
  width: 100%;
}

.login-checkbox {
  height: 16px;
  width: 16px;
}

.login-btn {
  border: none;
  border-radius: 50px;
  height: 50px;
  width: 190px;
  background-color: #47b850;
  color: white;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}

.login-btn:hover {
  transform: scale(1.035);
}

.forgot-password-text {
  color: #47b850;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}

.forgot-password-text:hover {
  text-decoration: none;
  color: #47b850;
  transform: scale(1.05);
}

.br2 {
  width: 100%;
  height: 1px;
  background-color: lightgray;
}

.account {
  font-weight: bold;
}

.signup-btn {
  width: 100%;
  height: 50px;
  background-color: white;
  border: 2px solid black;
  border-radius: 50px;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}

.signup-btn:hover {
  background-color: black;
  color: white;
  transform: scale(1.03);
}

.disclaimer {
  font-size: 10px;
  color: lightgray;
  text-align: center;
}

.disclaimer-green {
  color: #47b850;
}

@media (max-width: 1250px) {
  #NavBar {
    display: none;
  }

  .bottom-container {
    display: none;
  }
  .sidebar-placeholder {
    min-width: 0;
  }

  h2 {
    color: white;
    margin-block: 35px 25px;
    font-size: 1.3em;
  }

  .top {
    width: 50%;
  }

  .scroll {
    height: 200vh;
  }
}

.hide {
  display: none;
}
